# >>> antigen initialize >>>
{{ if eq .chezmoi.os "darwin" -}}
source /opt/homebrew/share/antigen/antigen.zsh
{{- else if eq .chezmoi.os "linux" -}}
# Install on Arch/Omarchy: yay -S zsh-antigen  (or: curl -L git.io/antigen > ~/.antigen.zsh)
[ -f /usr/share/zsh-antigen/antigen.zsh ] && source /usr/share/zsh-antigen/antigen.zsh \
  || { [ -f ~/.antigen.zsh ] && source ~/.antigen.zsh; }
{{- end }}

# Load the oh-my-zsh library
antigen use oh-my-zsh

# Syntax highlighting bundle
antigen bundle zsh-users/zsh-syntax-highlighting

# Auto-suggestions bundle
antigen bundle zsh-users/zsh-autosuggestions

# Load antigen theme
# Favourites:
#   Single-line: af-magic, apple, peepcode, robbyrussell, simple
#   Multi-line: 3den, fino-time, fox, frisk, smt, strug, xiong-chiamiov-plus
antigen theme simple

# Tell antigen you're done
antigen apply

# Modify $PATH
export PATH="$HOME/.local/bin:$PATH"

bindkey -v
alias clr="clear && neofetch"
alias cog="cd ~/Documents/cog-second-brain/"

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# Set large history file size
HISTSIZE=10000000

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# export TERM="xterm-256color"
# export COLORTERM="truecolor"

command -v neofetch >/dev/null && neofetch

{{ if eq .chezmoi.os "darwin" -}}
export LDFLAGS="-L/opt/homebrew/opt/llvm/lib"
export CPPFLAGS="-I/opt/homebrew/opt/llvm/include"
{{- end }}

[ -f "$HOME/.ghcup/env" ] && source "$HOME/.ghcup/env" # ghcup-env


export PATH="$PATH:$HOME/.risc0/bin"


# bun completions
[ -s "$HOME/.bun/_bun" ] && source "$HOME/.bun/_bun"

# bun
export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"
alias vim="nvim"

{{ if eq .chezmoi.os "darwin" -}}
# Terminal theme switching (macOS Terminal.app)
dark() {
  osascript -e 'tell application "Terminal" to set current settings of front window to settings set "0 dark:chalk"'
}

light() {
  osascript -e 'tell application "Terminal" to set current settings of front window to settings set "0 light:ayu-light"'
}
{{- end }}

# GWS CLI multi-account aliases
alias gws-work='GOOGLE_WORKSPACE_CLI_CONFIG_DIR=~/.config/gws-work gws'
alias gws-personal='GOOGLE_WORKSPACE_CLI_CONFIG_DIR=~/.config/gws-personal gws'
alias gws-bonsol='GOOGLE_WORKSPACE_CLI_CONFIG_DIR=~/.config/gws-bonsol gws'

# smux
export PATH="$HOME/.smux/bin:$PATH"

# Personal scripts
export PATH="$HOME/bin:$PATH"
